body {
    height: 100%;
  
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  
  }

  .container {
      background-color: lightgray;
  }



  .modal-content {
    border: 1px solid #000;
    height: 66%;
    width: 50%; 
    margin: 5px auto;
    background-color: lightblue;
  }
  
  .introBtn {
    text-align: center;
  }